body {
  background: content-box radial-gradient(crimson, skyblue);
  color: white;
  font-family: sans-serif;
}

#right-side {
  margin-top:auto;
}

.icon {
  width:20px;
  height:auto;
  vertical-align: middle;
}

.logo {
  margin: 20px 15px 20px 15px;
}

#cocktail-list {
  display:auto;
  justify-content: center;
}

#cocktail-list img {
  width: 350px;
  height: auto;
  margin: 15px;
}





#cocktail-info {
  display: outside;
  height: 200px;
  justify-content: center;
  margin-top: 25px;
}

#cocktail-info img {
  height: auto;
  margin: 10px;
  filter: drop-shadow(0 0 1em #c93642)
}

#cocktail-info div {
  width: 150px;
  margin-left: 50px;
}

#cocktail-info div p {
  font-family: 'yellow', serif;
}

form {
  width: 900px;
}

button {
  border: 200;
  width:250px;
  color: rgb(215, 215, 34);
  background: rgb(355, 387, 399); 
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
}

input[type=text] {
  border: 500;
  display:inline-block;
  border: 0;
  width:100%;
  color: black;
  background: white; 
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
}

input[type=submit] {
  display:inline-block;
  border: 0;
  width: 250px;
  color: black;
  background: white; 
  padding: 10px 50px 20px;
  border-radius: 10% / 50%;
  font-size: 15px;
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
  margin-top: 10px;
}